name: Build Windows Flutter App

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Enable Windows desktop
        run: flutter config --enable-windows-desktop

      - name: Flutter pub get
        working-directory: led_matrix_controller
        run: flutter pub get

      - name: Build Windows release
        working-directory: led_matrix_controller
        run: flutter build windows --release

      - name: Zip Release Directory
        run: Compress-Archive -Path "led_matrix_controller/build/windows/x64/runner/Release" -DestinationPath "led_matrix_controller-windows-release.zip"

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: led_matrix_controller-windows-release
          path: |
            led_matrix_controller/build/windows/x64/runner/Release/
            led_matrix_controller/build/windows/x64/runner/Release/**
          if-no-files-found: warn

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: led_matrix_controller-windows-release.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
